@import "@/sass/main.scss";

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include size(padding, x, 116);
    @include size(padding, y, 22);
    border-bottom: solid 1px getColor(baw, littlegray);
    position: fixed;
    z-index: 100;
}
