@import "@/sass/main.scss";

.buttonnavtext {
    position: relative;
    border-radius: getSize(md);
    background: getColor(baw, white);
    @include size(padding, all, 24);
    color: getColor(baw, gray);
    @include fontFamily(text, 700, xs);
    text-transform: uppercase;

    &:hover::before {
        position: absolute;
        content: "";
        top: -0.06em;
        left: -0.06em;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: gradientTriple(
            135,
            getColor(primary, lile),
            0,
            getColor(primary, lile, 04),
            50,
            getColor(primary, lile),
            100
        );
        border-radius: inherit;
        z-index: -1;
    }
}

.buttonnavicon {
    display: block;
    position: relative;
    border-radius: getSize(s);
    background: getColor(baw, white);
    @include size(padding, all, 16);
    color: getColor(baw, gray);
    transition: all 200ms ease-in-out;

    &::before {
        position: absolute;
        content: "";
        top: -0.06em;
        left: -0.06em;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: gradientTriple(
            135,
            getColor(primary, lile),
            0,
            getColor(primary, lile, 04),
            50,
            getColor(primary, lile),
            100
        );
        border-radius: inherit;
        z-index: -1;
    }

    &:hover {
        color: getColor(baw, white);
        background-color: getColor(primary, lileblue);
        transition: all 200ms ease-in-out;
    }
}

.buttonprimary {
    position: relative;
    width: fit-content;
    height: fit-content;
    @include size(padding, xy, 24);
    gap: 10px;
    border-radius: 3.125em;
    border: none;
    cursor: pointer;
    color: getColor(baw, white);
    background: getColor(primary, lileviolet);
    @include fontFamily(text, 700, xs);
    box-shadow: 0px 4px 30px getColor(primary, lileviolet, 35);
    transition: all 200ms ease-in-out;
    text-transform: uppercase;

    &:hover {
        box-shadow: 0px 7px 30px getColor(primary, lileviolet, 75);
        transform: translateY(-0.25em);
        transition: all 200ms ease-in-out;
    }
}
